.api{
  background-image: url('../public/blue-gradient.jpeg');
}
.events-container{
  height: 55vh;
  overflow: auto;
  background-color: transparent;
  position: absolute;
  top: 7vh;
  margin-top: 2px;
  margin-right: 4px;
  left: 69.9vw;
  width: 30vw;
}
.delete{
  top: 50vh;
  left: 0;

}

aside.aside .aside-tools .icon {
  margin-right: 0.75rem;
}


aside.aside .menu-list li ul li a.has-icon {
  padding-left: 0;
}

aside.aside .menu-list li a.has-dropdown-icon {
  position: relative;
  padding-right: 3rem;
}

aside.aside .menu-list li a.has-dropdown-icon .dropdown-icon {
  position: absolute;
  top: 0.5rem;
  right: 0;
}
