
.events-container{
  height: 55vh;
  overflow: auto;
  background-color: transparent;
  position: absolute;
  top: 7vh;
  margin-top: 2px;
  margin-right: 4px;
  left: 70vw;
  width: 30vw;
}
.delete{
  top: 50vh;
  left: 0;

}
