
.events-container{
  height: 55vh;
  overflow: auto;
  background-color: #00000030;
  position: absolute;
  top: 7vh;
  margin-top: 2px;
  margin-right: 4px;
  left: 69.9vw;
  width: 30vw;
}
.delete{
  top: 50vh;
  left: 0;

}

.video-container{
  top: 15vh;
  left: 4vw;
  width: fit-content;
  position: absolute;
  display : block;
}
.video-play{
  width: 65vw;
  height: auto;
  display: none;
}

.live-stream {
  width: 65vw;
  height: 65vh;
  display: block;
  background-color: white;
}
.map-container  {
  top: 62vh;
  left: 69.9vw;
  height: 38vh;
  width: 30vw;
  position: absolute;
  content : url(../public/floor_plan.png);
}
