.signout{
  background-color: #ffffff00;
  color:  white;
  height: 7vh;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;

}

.signout:hover {
  background-image: linear-gradient(transparent, #029fdc);
}

.btn-4 {
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.logout-icon{
  filter: invert(100%);
  width: 3vw;
  height:  4.5vh;
}