.drop-down{
  position: relative;
  top : -0.5vh;
  color: white;
  display: none;
  height: 4vw;
  flex-direction: row;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #537be5;
}

.drop-down-button{
  background-color: rgb(26, 52, 94);
  width : 7.5vw;
  border-style: inset;
  border-width: thin;
  border-color: #537be5;
  text-align: center;
}

.drop-down_menu_anim{
  animation: growDown 700ms ease-in-out forwards;
  transform-origin: top center;
  display: flex;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
