.single-event{
  background-color: rgb(26, 52, 94);
  position: relative;
  display: flex;
  height: 10vw;
  flex-direction: row;
  border-radius: 4px;
  box-shadow: 0px 0px 3px 0px #1f1f1f;
}

.event-info{
  position: relative;
  display: flex;
  width: 200px;
  flex-direction: column;
  order : 1;
}

.time{
  color:white;
  width: fit-content;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
  order: 3;
}

.location{
  color:white;
  width: fit-content;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
  order: 1;
}
.video{
  background-color: #fff;
  height: 50%;
  width: 200px;
  position: relative;
  order: 2;
  align-self: center;
}

.type{
  font-weight: bold;
  font-size: larger;
  color: rgb(73, 123, 204);
  padding: 10px;
  position: relative;
  order: 1;

}
