.NavBar-container {
  padding: 0px;
  margin: 0px;
  top: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  height: 7vh;
  background-color: #15132396;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.logOut {
  width: 10vw;
}


.NavBar-linkContainer {
  width: fit-content;
  float: right;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  text-decoration: none;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
